.index-hd {
  padding: calc(var(--screen-width)*80/750);
  text-align: center;
}
.index-bd {
  padding: 0 calc(var(--screen-width)*30/750) calc(var(--screen-width)*40/750);
}
.index-ft {
  padding-bottom: calc(var(--screen-width)*20/750);
  text-align: center;
}
.index-logo {
  width: calc(var(--screen-width)*86/750);
  height: calc(var(--screen-width)*86/750);
}
.index-desc {
  margin-top: calc(var(--screen-width)*20/750);
  color: #888888;
  font-size: calc(var(--screen-width)*28/750);
}


.navigator-box {
  opacity: 0;
  position: relative;
  background-color: #FFFFFF;
  line-height: 1.41176471;
  font-size: calc(var(--screen-width)*34/750);

  transform: translateY(-50%);
  transition: .3s;
}
.navigator-box-show {
  opacity: 1;
  transform: translateY(0);
}
.navigator {
  padding: calc(var(--screen-width)*20/750) calc(var(--screen-width)*30/750);
  position: relative;
  display: flex;
  align-items: center;
}
.navigator:before {
  content: " ";
  position: absolute;
  left: calc(var(--screen-width)*30/750);
  top: 0;
  right: calc(var(--screen-width)*30/750);
  height: 1px;
  border-top: calc(var(--screen-width)*1/750) solid #D8D8D8;
  color: #D8D8D8;
}
.navigator:first-child:before {
  display: none;
}
.navigator-text {
  flex: 1;
}
.navigator-arrow {
  padding-right: calc(var(--screen-width)*26/750);
  position: relative;
}
.navigator-arrow:after {
  content: " ";
  display: inline-block;
  height: calc(var(--screen-width)*18/750);
  width: calc(var(--screen-width)*18/750);
  border-width: calc(var(--screen-width)*2/750) calc(var(--screen-width)*2/750) 0 0;
  border-color: #888888;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: calc(var(--screen-width)*-8/750);
  right: calc(var(--screen-width)*28/750);
}


.kind-list-item {
  margin: calc(var(--screen-width)*20/750) 0;
  background-color: #FFFFFF;
  border-radius: calc(var(--screen-width)*4/750);
  overflow: hidden;
}
.kind-list-item:first-child {
  margin-top: 0;
}
.kind-list-text{
  flex: 1;
}
.kind-list-img {
  width: calc(var(--screen-width)*60/750);
  height: calc(var(--screen-width)*60/750);
}
.kind-list-item-hd {
  padding: calc(var(--screen-width)*30/750);
  display: flex;
  align-items: center;

  transition: opacity .3s;
}
.kind-list-item-hd-show {
  opacity: .2;
}
.kind-list-item-bd {
  height: 0;
  overflow: hidden;
}
.kind-list-item-bd-show {
  height: auto;
}