<!--#include virtual="/OnekitWX/header.html"-->
<link rel="stylesheet" href="/page/component/pages/ad/ad.css"/>
   
	
	<script type="text/javascript">
    $(document).ready(function(){
    const info = wx.getSystemInfoSync()

Page({
  onShareAppMessage() {
    return {
      title: 'ad',
      path: 'page/component/pages/ad/ad'
    }
  },

  data: {
    platform: info.platform
  }
})

	onekitwx_json({
  "navigationBarTitleText": "ad"
})
    });
    </script><!--#include virtual="/OnekitWX/navigator.html"-->
