.page-body-info {
  padding-bottom: 0 ;
  height: 230px ;
}
.page-body-text {
  padding: 0  calc(var(--screen-width)*30/750) ;
  text-align: center ;
}
.openid {
  margin-top: calc(var(--screen-width)*20/750) ;
  font-size: calc(var(--screen-width)*38/750) ;
}
