<!--#include virtual="/page/cloud/pages/server-date/server-date.htm"-->
<!--#include file="../../../common/head.html"-->

<!--#include file="../../../common/foot.html"-->


<wx-view  class="container">
  <template id="onekit_head"></template>
<script>

    new Vue({
        el: "#onekit_head",
        data: {title: 'db.serverDate'},
        template: '#head'
    })
</script>

  <wx-view  class="page-body" v-if="openid">
    <wx-view  class="page-section">
      <wx-view  class="page-body-info">
        <wx-view  class="page-body-title">服务端时间</wx-view>
        <template  v-if="!serverDate">
          <wx-text  class="page-body-text">很多时候我们希望记录数据的创建时间</wx-text>
          <wx-text  class="page-body-text">在小程序端使用 Date 对象创建的是客户端时间（可被任意修改），而非服务端时间</wx-text>
          <wx-text  class="page-body-text">这时可以使用云开发提供的 serverDate 对象，在请求被处理时会自动转换成服务端时间</wx-text>
        </template>
        <template  v-else="">
          <template >
            <wx-text  class="page-body-text">客户端时间</wx-text>
            <wx-text  class="context-value">{{clientDateFormatted}}</wx-text>
          </template>
          <template >
            <wx-text  class="page-body-text">服务端时间</wx-text>
            <wx-text  class="context-value">{{serverDateFormatted}}</wx-text>
          </template>
          <template >
            <wx-text  class="page-body-text">时间差距</wx-text>
            <wx-text  class="context-value">{{delta}} 毫秒</wx-text>
          </template>
        </template>
      </wx-view>
      <wx-view  class="btn-area">
        <wx-button  type="primary" @bindtap="insertData" :loading="loading">插入数据</wx-button>
      </wx-view>
    </wx-view>
  </wx-view>

  <template id="onekit_foot"></template>
<script>

    new Vue({
        el: "#onekit_foot",
        data: {},
        template: '#foot'
    })
</script>
</wx-view>

<!--#include virtual="/OnekitWX/footer.html"-->