<!--#include virtual="/page/component/pages/swiper/swiper.htm"-->


  <wx-view  class="page-body">
    <wx-view  class="page-section page-section-spacing swiper">
      <wx-swiper  :indicator-dots="indicatorDots" :autoplay="autoplay" :interval="interval" :duration="duration">
        <template  :wx:for="background">
          <wx-swiper-item >
            <wx-view  :class="['swiper-item ',item]"></wx-view>
          </wx-swiper-item>
        </template>
      </wx-swiper>
    </wx-view>
    <wx-view  class="page-section" style="margin-top:calc(var(--screen-width)*40/750);margin-bottom: 0;">
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_switch">
          <wx-view  class="weui-cell__bd">指示点</wx-view>
          <wx-view  class="weui-cell__ft">
            <wx-switch  :checked="indicatorDots" @bindchange="changeIndicatorDots"></wx-switch>
          </wx-view>
        </wx-view>
        <wx-view  class="weui-cell weui-cell_switch">
          <wx-view  class="weui-cell__bd">自动播放</wx-view>
          <wx-view  class="weui-cell__ft">
            <wx-switch  :checked="autoplay" @bindchange="changeAutoplay"></wx-switch>
          </wx-view>
        </wx-view>
      </wx-view>
    </wx-view>

    <wx-view  class="page-section page-section-spacing">
      <wx-view  class="page-section-title">
        <wx-text >幻灯片切换时长(ms)</wx-text>
        <wx-text  class="info">{{duration}}</wx-text>
      </wx-view>
      <wx-slider  @bindchange="durationChange" :value="duration" min="500" max="2000"></wx-slider>
      <wx-view  class="page-section-title">
        <wx-text >自动播放间隔时长(ms)</wx-text>
        <wx-text  class="info">{{interval}}</wx-text>
      </wx-view>
      <wx-slider  @bindchange="intervalChange" :value="interval" min="2000" max="10000"></wx-slider>
    </wx-view>
  </wx-view>


<!--#include virtual="/OnekitWX/footer.html"-->