@import "../../../common/lib/weui.css";
.wx-button {
  margin-bottom: calc(var(--screen-width)*30/750) ;
}
button:last-child {
  margin-bottom: 0 ;
}
.page-section-title {
  padding: 0 ;
  margin-top: calc(var(--screen-width)*60/750) ;
  position: relative ;
}
.swiper-item {
  display: block ;
  height: 150px ;
}
.info {
  position: absolute ;
  right: 0 ;
  color: #353535 ;
  font-size: calc(var(--screen-width)*30/750) ;
}
.page-foot {
  margin-top: calc(var(--screen-width)*50/750) ;
}
