.wx-button {
  margin-top: calc(var(--screen-width)*30/750) ;
  margin-bottom: calc(var(--screen-width)*30/750) ;
}
.button-sp-area {
  margin: 0 auto ;
  width: 60% ;
}
.mini-btn {
  margin-right: calc(var(--screen-width)*10/750) ;
}
