.DS_Store
node_modules
/dist
.jsbeautifyrc

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/dist
*.iml
package-lock.json
.DS_Store
src/page/common/foot.foot.vue
src/page/common/head.head.vue
src/page/common/index.css
src/page/common/lib/weui.css
src/page/component/index.vue
src/page1.vue
src/page2.vue
src/page3.vue
src/app.json.js
src/app.css
src/app.json.js
src/page1.vue
src/page2.vue
src/page3.vue
