.wx-progress {
  width: 100% ;
}
.progress-box {
  display: flex ;
  height: calc(var(--screen-width)*50/750) ;
  margin-bottom: calc(var(--screen-width)*60/750) ;
}
.progress-cancel {
  margin-left: calc(var(--screen-width)*40/750) ;
}
