.selected-date {
  text-align: center ;
  margin: calc(var(--screen-width)*30/750) ;
}
.icon-container {
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
}
.picker-icon {
  width: calc(var(--screen-width)*50/750) ;
  height: calc(var(--screen-width)*50/750) ;
}
