<!--#include virtual="/page/component/pages/camera-scan-code/camera-scan-code.htm"-->
<!--#include file="../../../common/head.html"-->

<!--#include file="../../../common/foot.html"-->


<wx-view  class="container">
  <template id="onekit_head"></template>
<script>

    new Vue({
        el: "#onekit_head",
        data: {title: 'camera'},
        template: '#head'
    })
</script>

  <wx-view  class="page-body">
    <wx-view  class="page-body-wrapper">
      <wx-camera  mode="scanCode" flash="off" @bindscancode="scanCode" @binderror="error">
      </wx-camera>
      <wx-view  class="btn-area">
        <wx-button  type="primary" @bindtap="navigateBack">
          返回正常模式
        </wx-button>
      </wx-view>
      <wx-form ></wx-form>
        <wx-view  class="page-section">
          <wx-view  class="weui-cells weui-cells_after-title">
            <wx-view  class="weui-cell weui-cell_input">
              <wx-view  class="weui-cell__hd">
                <wx-view  class="weui-label">类型</wx-view>
              </wx-view>
              <wx-view  class="weui-cell__bd">
                {{ result.type }}
              </wx-view>
            </wx-view>
            <wx-view  class="weui-cell weui-cell_input">
              <wx-view  class="weui-cell__hd">
                <wx-view  class="weui-label">结果</wx-view>
              </wx-view>
              <wx-view  class="weui-cell__bd">
                {{ result.result }}
              </wx-view>
            </wx-view>
          </wx-view>
        </wx-view>
      </form>
    </wx-view>
  </wx-view>

  <template id="onekit_foot"></template>
<script>

    new Vue({
        el: "#onekit_foot",
        data: {},
        template: '#foot'
    })
</script>
</wx-view>

<!--#include virtual="/OnekitWX/footer.html"-->