<!--#include virtual="/OnekitWX/header.html"-->
<link rel="stylesheet" href="/page/component/pages/image/image.css"/>
   
	
	<script type="text/javascript">
    $(document).ready(function(){
    const config = require('../../../../config')

Page({
  onShareAppMessage() {
    return {
      title: 'image',
      path: 'page/component/pages/image/image'
    }
  },
  data: {
    imageUrl: config.downloadExampleUrl
  }
})

	onekitwx_json({
    "navigationBarTitleText": "image"
}
)
    });
    </script><!--#include virtual="/OnekitWX/navigator.html"-->
