.page-section-spacing{
  margin-top: calc(var(--screen-width)*60/750);
}
.scroll-view_H{
  white-space: nowrap;
}
.scroll-view-item{
  height: calc(var(--screen-width)*300/750);
}
.scroll-view-item_H{
  display: inline-block;
  width: 100%;
  height: calc(var(--screen-width)*300/750);
}