<!--#include virtual="/page/component/pages/navigator/navigator.htm"-->
<!--#include file="../../../common/head.html"-->

<!--#include file="../../../common/foot.html"-->


<wx-view  class="container">
  <template id="onekit_head"></template>
<script>

    new Vue({
        el: "#onekit_head",
        data: {title: 'navigator'},
        template: '#head'
    })
</script>

  <wx-view  class="page-body">
    <wx-view  class="btn-area">
      <wx-navigator  url="navigate?title=navigate" hover-class="navigator-hover">
        <wx-button  type="default">跳转到新页面</wx-button>
      </wx-navigator>
      <wx-navigator  url="redirect?title=redirect" redirect="" hover-class="other-navigator-hover">
        <wx-button  type="default">在当前页打开</wx-button>
      </wx-navigator>
      <wx-navigator  target="miniProgram" open-type="navigate" app-id="wx4f1b24bdc99fa23b" version="release">
         <wx-button  type="default">打开小程序</wx-button>
        </wx-navigator>
    </wx-view>
  </wx-view>

  <template id="onekit_foot"></template>
<script>

    new Vue({
        el: "#onekit_foot",
        data: {},
        template: '#foot'
    })
</script>
</wx-view>

<!--#include virtual="/OnekitWX/footer.html"-->