@import "../../../common/lib/weui.css";

.permission-select {
  display: flex;
  align-items: center;
  height: initial;
  line-height: initial;
}
.weui-panel {
  margin-top: calc(var(--screen-width)*60/750);
}
.input-area {
  margin-top: calc(var(--screen-width)*60/750);
}
.btn-area {
  margin-bottom: calc(var(--screen-width)*60/750);
}