<!--#include virtual="/page/component/pages/open-data/open-data.htm"-->
<!--#include file="../../../common/head.html"-->

<!--#include file="../../../common/foot.html"-->



<wx-view  class="container">
  <template id="onekit_head"></template>
<script>

    new Vue({
        el: "#onekit_head",
        data: {title: 'open-data'},
        template: '#head'
    })
</script>
  <wx-view  class="page-body">
    <wx-view  class="avatar">
      <wx-open-data  class="avatar-img" type="userAvatarUrl" lang="zh_CN"></wx-open-data>
    </wx-view>
    <wx-form ></wx-form>
      <wx-view  class="page-section">
        <wx-view  class="weui-cells weui-cells_after-title">
          <wx-view  class="weui-cell weui-cell_input">
            <wx-view  class="weui-cell__hd">
              <wx-view  class="weui-label">昵称</wx-view>
            </wx-view>
            <wx-view  class="weui-cell__bd">
              <wx-view  class="weui-input">
                <wx-open-data  type="userNickName" lang="zh_CN"></wx-open-data>
              </wx-view>
            </wx-view>
          </wx-view>

          <wx-view  class="weui-cell weui-cell_input">
            <wx-view  class="weui-cell__hd">
              <wx-view  class="weui-label">性别</wx-view>
            </wx-view>
            <wx-view  class="weui-cell__bd">
              <wx-view  class="weui-input">
                <wx-open-data  type="userGender" lang="zh_CN"></wx-open-data>
              </wx-view>
            </wx-view>
          </wx-view>

          <wx-view  class="weui-cell weui-cell_input">
            <wx-view  class="weui-cell__hd">
              <wx-view  class="weui-label">地区</wx-view>
            </wx-view>
            <wx-view  class="weui-cell__bd">
              <wx-view  class="weui-input">
                <wx-open-data  class="country" type="userCountry" lang="zh_CN"></wx-open-data>
                <wx-open-data  class="province" type="userProvince" lang="zh_CN"></wx-open-data>
                <wx-open-data  class="city" type="userCity" lang="zh_CN"></wx-open-data>
              </wx-view>
            </wx-view>
          </wx-view>


          <wx-view  class="weui-cell weui-cell_input">
            <wx-view  class="weui-cell__hd">
              <wx-view  class="weui-label">语言</wx-view>
            </wx-view>
            <wx-view  class="weui-cell__bd">
              <wx-view  class="weui-input">
                <wx-open-data  type="userLanguage" lang="zh_CN"></wx-open-data>
              </wx-view>
            </wx-view>
          </wx-view>
        </wx-view>
      </wx-view>
    </form>

  </wx-view>
  <template id="onekit_foot"></template>
<script>

    new Vue({
        el: "#onekit_foot",
        data: {},
        template: '#foot'
    })
</script>
</wx-view>

<!--#include virtual="/OnekitWX/footer.html"-->