<!--#include virtual="/page/component/pages/rich-text/rich-text.htm"-->
<!--#include file="../../../common/head.html"-->

<!--#include file="../../../common/foot.html"-->


<wx-view  class="container">
  <template id="onekit_head"></template>
<script>

    new Vue({
        el: "#onekit_head",
        data: {title: 'rich-text'},
        template: '#head'
    })
</script>

  <wx-view  class="page-body">
    <wx-view  class="page-section">
      <wx-view  class="page-section-title">通过HTML String渲染</wx-view>
      <wx-view  class="page-content">
        <wx-scroll-view  scroll-y="">{{htmlSnip}}</wx-scroll-view>
        <wx-button  type="primary" @bindtap="renderHtml">渲染HTML</wx-button>
        <template  v-if="renderedByHtml">
          <wx-rich-text  :nodes="htmlSnip"></wx-rich-text>
        </template>
      </wx-view>
    </wx-view>

    <wx-view  class="page-section">
      <wx-view  class="page-section-title">通过节点渲染</wx-view>
      <wx-view  class="page-content">
        <wx-scroll-view  scroll-y="">{{nodeSnip}}</wx-scroll-view>
        <wx-button  type="primary" @bindtap="renderNode">渲染Node</wx-button>
        <template  v-if="renderedByNode">
          <wx-rich-text  :nodes="nodes"></wx-rich-text>
        </template>
      </wx-view>
    </wx-view>
  </wx-view>

  <template id="onekit_foot"></template>
<script>

    new Vue({
        el: "#onekit_foot",
        data: {},
        template: '#foot'
    })
</script>
</wx-view>

<!--#include virtual="/OnekitWX/footer.html"-->