.page-section {
  width: auto ;
  margin: calc(var(--screen-width)*30/750) ;
  padding: calc(var(--screen-width)*64/750)  calc(var(--screen-width)*30/750) ;
  background-color: #fff ;
  text-align: center ;
  font-size: calc(var(--screen-width)*28/750) ;
}
.desc {
  color: #B2B2B2 ;
}
.price {
  margin-top: calc(var(--screen-width)*30/750) ;
  margin-bottom: calc(var(--screen-width)*25/750) ;
  position: relative ;
  display: inline-block ;
  font-size: calc(var(--screen-width)*78/750) ;
  line-height: 1 ;
}
.price:before {
  content: "¥" ;
  position: absolute ;
  font-size: calc(var(--screen-width)*40/750) ;
  top: calc(var(--screen-width)*8/750) ;
  left: calc(var(--screen-width)*-40/750) ;
}
