<!--#include virtual="/page/cloud/pages/get-wx-context/get-wx-context.htm"-->
<!--#include file="../../../common/head.html"-->

<!--#include file="../../../common/foot.html"-->


<wx-view  class="container">
  <template id="onekit_head"></template>
<script>

    new Vue({
        el: "#onekit_head",
        data: {title: 'getWXContext'},
        template: '#head'
    })
</script>

  <wx-view  class="page-body">
    <wx-view  class="page-section">
      <wx-view  class="page-body-info">
        <wx-view  class="page-body-title">WXContext</wx-view>
        <template  v-if="!hasWXContext">
          <wx-text  class="page-body-text">云函数是在云端（服务器端）运行的函数</wx-text>
          <wx-text  class="page-body-text">点击绿色按钮可调用云函数获取微信调用上下文</wx-text>
          <wx-text  class="page-body-text">返回内容包括用户 OpenID、小程序 AppID 以及用户 UnionID（满足 UnionID 获取条件时）</wx-text>
        </template>
        <template  v-else="">
          <template >
            <wx-text  class="page-body-text">OpenID</wx-text>
            <wx-text  class="context-value">{{wxContext.openid}}</wx-text>
          </template>
          <template >
            <wx-text  class="page-body-text">AppID</wx-text>
            <wx-text  class="context-value">{{wxContext.appid}}</wx-text>
          </template>
          <template  v-if="wxContext.unionid">
            <wx-text  class="page-body-text">UnionID</wx-text>
            <wx-text  class="context-value">{{wxContext.unionid}}</wx-text>
          </template>
        </template>
      </wx-view>
      <wx-view  class="btn-area">
        <wx-button  type="primary" @bindtap="getWXContext" :loading="loading">获取 WXContext</wx-button>
        <wx-button  @bindtap="clear">清空</wx-button>
      </wx-view>
    </wx-view>
  </wx-view>

  <template id="onekit_foot"></template>
<script>

    new Vue({
        el: "#onekit_foot",
        data: {},
        template: '#foot'
    })
</script>
</wx-view>

<!--#include virtual="/OnekitWX/footer.html"-->