.page-content {
  width: auto;
  margin: calc(var(--screen-width)*30/750) 0;
  padding: 0 calc(var(--screen-width)*50/750);
}

.code-fragment {
  height: calc(var(--screen-width)*350/750);
}

.code-textarea {
  width: auto;
  height: calc(var(--screen-width)*350/750);
  border: calc(var(--screen-width)*1/750) solid #1AAD19;
}

.p {
  color: #1AAD19;
  margin-top: calc(var(--screen-width)*30/750);
}

.space {
  display: inline-block;
  background: red;
  width: calc(var(--screen-width)*10/750);
}

scroll-view {
  height: calc(var(--screen-width)*350/750);
  border: calc(var(--screen-width)*1/750) solid #1AAD19;
  white-space: pre;
  padding: calc(var(--screen-width)*10/750);
  box-sizing: border-box;
}