<!--#include virtual="/page/cloud/pages/scf-database/scf-database.htm"-->
<!--#include file="../../../common/head.html"-->

<!--#include file="../../../common/foot.html"-->


<wx-view  class="container">
  <template id="onekit_head"></template>
<script>

    new Vue({
        el: "#onekit_head",
        data: {title: 'Database'},
        template: '#head'
    })
</script>

  <wx-view  class="page-body">
    <wx-view  class="page-section">
      <wx-view  class="weui-cells__title">
        <wx-view >云函数为管理端，通过调用云函数可操作原先在小程序端无法操作的数据。</wx-view>
        <wx-view >后台流水数据：权限为仅管理端可写</wx-view>
      </wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="page-body-info">
          <wx-view  class="progress-figure">
            <wx-image  src="/page/API/resources/kind/device.png" class="progress-icon"></wx-image>
            <wx-text  :class="['progress-line lg ',clientLoading && 'pending',' ',serverDataClient && 'success',' ',serverDataClientError && 'fail']"></wx-text>
            <wx-image  src="/page/cloud/resources/kind/database.png" class="progress-icon"></wx-image>
          </wx-view>

          <wx-view  class="data-area">
            <wx-view  class="data-text" v-if="serverDataClient">
              <wx-icon  type="success"></wx-icon>
              <wx-text >获取成功</wx-text>
            </wx-view>
            <wx-view  class="data-text" v-else-if="serverDataClientError">
              <wx-icon  type="warn" color="#F43530"></wx-icon>
              <wx-text >获取失败</wx-text>
            </wx-view>
          </wx-view>

          <wx-view  class="btn-area">
            <wx-button  @bindtap="queryServerDataViaClient" :loading="clientLoading">小程序端获取后台流水数据</wx-button>
          </wx-view>
        </wx-view>
      </wx-view>

      <wx-view  class="weui-cells__title"></wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="page-body-info">
          <wx-view  class="progress-figure">
            <wx-image  src="/page/API/resources/kind/device.png" class="progress-icon"></wx-image>
            <wx-text  :class="['progress-line ',cloudLoading && 'pending',' ',serverDataCloud && 'success',' ',serverDataCloudError && 'fail']"></wx-text>
            <wx-image  src="/page/cloud/resources/kind/scf.png" class="progress-icon"></wx-image>
            <wx-text  :class="['progress-line ',cloudLoading && 'pending',' ',serverDataCloud && 'success',' ',serverDataCloudError && 'fail']"></wx-text>
            <wx-image  src="/page/cloud/resources/kind/database.png" class="progress-icon"></wx-image>
          </wx-view>

          <wx-view  class="data-area">
            <wx-view  class="data-text" v-if="serverDataCloud">
              <wx-icon  type="success"></wx-icon>
              <wx-text >获取成功</wx-text>
            </wx-view>
            <wx-view  class="data-text" v-else-if="serverDataCloudError">
              <wx-icon  type="warn" color="#F43530"></wx-icon>
              <wx-text >获取失败</wx-text>
            </wx-view>
          </wx-view>

          <wx-view  class="btn-area">
            <wx-button  @bindtap="queryServerDataViaCloudFunction" :loading="cloudLoading">调用云函数获取后台流水数据</wx-button>
          </wx-view>
        </wx-view>
      </wx-view>
    </wx-view>
  </wx-view>

  <template id="onekit_foot"></template>
<script>

    new Vue({
        el: "#onekit_foot",
        data: {},
        template: '#foot'
    })
</script>
</wx-view>
<!--#include virtual="/OnekitWX/footer.html"-->