.page-section {
  width: auto ;
  margin: calc(var(--screen-width)*30/750) ;
  padding: calc(var(--screen-width)*44/750)  calc(var(--screen-width)*60/750)  calc(var(--screen-width)*60/750) ;
  background-color: #fff ;
  font-size: calc(var(--screen-width)*28/750) ;
}
.desc {
  margin-bottom: calc(var(--screen-width)*20/750) ;
}
.input {
  height: calc(var(--screen-width)*119/750) ;
  line-height: calc(var(--screen-width)*119/750) ;
  font-size: calc(var(--screen-width)*78/750) ;
  border-bottom: calc(var(--screen-width)*1/750) solid #E2E2E2 ;
}
.btn-area {
  padding: 0 ;
}
