.page-body-info {
  padding-bottom: 0;
  height: 230px;
}
.userinfo-avatar {
  border-radius: calc(var(--screen-width)*128/750);
  width: calc(var(--screen-width)*128/750);
  height: calc(var(--screen-width)*128/750);
}
.userinfo-nickname {
  margin-top: calc(var(--screen-width)*20/750);
  font-size: calc(var(--screen-width)*38/750);
}