<!--#include virtual="/page/component/pages/input/input.htm"-->
<!--#include file="../../../common/head.html"-->

<!--#include file="../../../common/foot.html"-->


<wx-view  class="container">
  <template id="onekit_head"></template>
<script>

    new Vue({
        el: "#onekit_head",
        data: {title: 'input'},
        template: '#head'
    })
</script>

  <wx-view  class="page-body">
    <wx-view  class="page-section">
      <wx-view  class="weui-cells__title">可以自动聚焦的input</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-input  class="weui-input" auto-focus="" placeholder="将会获取焦点"></wx-input>
        </wx-view>
      </wx-view>
    </wx-view>
    <wx-view  class="page-section">
      <wx-view  class="weui-cells__title">控制最大输入长度的input</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-input  class="weui-input" maxlength="10" placeholder="最大输入长度为10"></wx-input>
        </wx-view>
      </wx-view>
    </wx-view>
    <wx-view  class="page-section">
      <wx-view  class="weui-cells__title">实时获取输入值：{{inputValue}}</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-input  class="weui-input" maxlength="10" @bindinput="bindKeyInput" placeholder="输入同步到view中"></wx-input>
        </wx-view>
      </wx-view>
    </wx-view>
    <wx-view  class="page-section">
      <wx-view  class="weui-cells__title">控制输入的input</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-input  class="weui-input" @bindinput="bindReplaceInput" placeholder="连续的两个1会变成2"></wx-input>
        </wx-view>
      </wx-view>
    </wx-view>
    <wx-view  class="page-section">
      <wx-view  class="weui-cells__title">控制键盘的input</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-input  class="weui-input" @bindinput="bindHideKeyboard" placeholder="输入123自动收起键盘"></wx-input>
        </wx-view>
      </wx-view>
    </wx-view>
    <wx-view  class="page-section">
      <wx-view  class="weui-cells__title">数字输入的input</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-input  class="weui-input" type="number" placeholder="这是一个数字输入框"></wx-input>
        </wx-view>
      </wx-view>
    </wx-view>
    <wx-view  class="page-section">
      <wx-view  class="weui-cells__title">密码输入的input</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-input  class="weui-input" password="" type="text" placeholder="这是一个密码输入框"></wx-input>
        </wx-view>
      </wx-view>
    </wx-view>
    <wx-view  class="page-section">
      <wx-view  class="weui-cells__title">带小数点的input</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-input  class="weui-input" type="digit" placeholder="带小数点的数字键盘"></wx-input>
        </wx-view>
      </wx-view>
    </wx-view>
    <wx-view  class="page-section">
      <wx-view  class="weui-cells__title">身份证输入的input</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-input  class="weui-input" type="idcard" placeholder="身份证输入键盘"></wx-input>
        </wx-view>
      </wx-view>
    </wx-view>
    <wx-view  class="page-section">
      <wx-view  class="weui-cells__title">控制占位符颜色的input</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-input  class="weui-input" placeholder-style="color:#F76260" placeholder="占位符字体是红色的"></wx-input>
        </wx-view>
      </wx-view>
    </wx-view>
  </wx-view>

  <template id="onekit_foot"></template>
<script>

    new Vue({
        el: "#onekit_foot",
        data: {},
        template: '#foot'
    })
</script>
</wx-view>

<!--#include virtual="/OnekitWX/footer.html"-->