button{
  margin: calc(var(--screen-width)*40/750) 0;
}
.text-box{
  margin-bottom: calc(var(--screen-width)*70/750);
  padding: calc(var(--screen-width)*40/750) 0;
  display: flex;
  min-height: calc(var(--screen-width)*300/750);
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc(var(--screen-width)*30/750);
  color: #353535;
  line-height: 2em;
}