<!--#include virtual="/page/component/pages/text/text.htm"-->
<!--#include file="../../../common/head.html"-->

<!--#include file="../../../common/foot.html"-->


<wx-view  class="container">
  <template id="onekit_head"></template>
<script>

    new Vue({
        el: "#onekit_head",
        data: {title: 'text'},
        template: '#head'
    })
</script>

  <wx-view  class="page-body">
    <wx-view  class="page-section page-section-spacing">
      <wx-view  class="text-box" scroll-y="true" :scroll-top="scrollTop">
        <wx-text >{{text}}</wx-text>
      </wx-view>
      <wx-button  :disabled="!canAdd" @bindtap="add">add line</wx-button>
      <wx-button  :disabled="!canRemove" @bindtap="remove">remove line</wx-button>
    </wx-view>
  </wx-view>

  <template id="onekit_foot"></template>
<script>

    new Vue({
        el: "#onekit_foot",
        data: {},
        template: '#foot'
    })
</script>
</wx-view>

<!--#include virtual="/OnekitWX/footer.html"-->