<!--#include virtual="/page/component/pages/switch/switch.htm"-->
<!--#include file="../../../common/head.html"-->

<!--#include file="../../../common/foot.html"-->


<wx-view  class="container">
  <template id="onekit_head"></template>
<script>

    new Vue({
        el: "#onekit_head",
        data: {title: 'switch'},
        template: '#head'
    })
</script>

  <wx-view  class="page-body">
    <wx-view  class="page-section page-section-gap">
      <wx-view  class="page-section-title">默认样式</wx-view>
      <wx-view  class="body-view">
        <wx-switch  checked="" @bindchange="switch1Change"></wx-switch>
        <wx-switch  @bindchange="switch2Change"></wx-switch>
      </wx-view>
    </wx-view>

    <wx-view  class="page-section">
      <wx-view  class="page-section-title">推荐展示样式</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_switch">
          <wx-view  class="weui-cell__bd">开启中</wx-view>
          <wx-view  class="weui-cell__ft">
            <wx-switch  checked=""></wx-switch>
          </wx-view>
        </wx-view>
        <wx-view  class="weui-cell weui-cell_switch">
          <wx-view  class="weui-cell__bd">关闭</wx-view>
          <wx-view  class="weui-cell__ft">
            <wx-switch ></wx-switch>
          </wx-view>
        </wx-view>
      </wx-view>
    </wx-view>
  </wx-view>

  <template id="onekit_foot"></template>
<script>

    new Vue({
        el: "#onekit_foot",
        data: {},
        template: '#foot'
    })
</script>
</wx-view>

<!--#include virtual="/OnekitWX/footer.html"-->