@import "../../../common/lib/weui.css";

.page-body-info {
  padding-bottom: calc(var(--screen-width)*30/750);
}
.progress-figure {
  font-size: calc(var(--screen-width)*32/750);
}
.progress-icon {
  width: calc(var(--screen-width)*60/750);
  height: calc(var(--screen-width)*60/750);
}
.progress-line {
  border-top: 2px solid #2F2F2F;
  padding: 0 calc(var(--screen-width)*60/750);
  margin: 0 calc(var(--screen-width)*20/750);
}
.progress-line.pending {
  border-top-style: dashed;
}
.progress-line.success {
  border-top-color: #0bb20c;
}
.progress-line.fail {
  border-top-color: #e64340;
}
.progress-line.lg {
  padding: 0 calc(var(--screen-width)*100/750);
}
.data-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--screen-width)*30/750);
  height: calc(var(--screen-width)*30/750);
}
.data-area .data-text {
  display: flex;
  align-items: center;
}
.data-area .data-text icon {
  margin-right: calc(var(--screen-width)*10/750);
}
.btn-area {
  margin-top: calc(var(--screen-width)*30/750);
}