<!--#include virtual="/page/component/pages/picker/picker.htm"-->
<!--#include file="../../../common/head.html"-->

<!--#include file="../../../common/foot.html"-->


<wx-view  class="container">
  <template id="onekit_head"></template>
<script>

    new Vue({
        el: "#onekit_head",
        data: {title: 'picker'},
        template: '#head'
    })
</script>

  <wx-view  class="page-body">
    <wx-view  class="page-section">
      <wx-view  class="weui-cells__title">地区选择器</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-view  class="weui-cell__hd">
            <wx-view  class="weui-label">当前选择</wx-view>
          </wx-view>
          <wx-view  class="weui-cell__bd">
            <wx-picker  @bindchange="bindPickerChange" :value="index" :range="array">
              <wx-view  class="weui-input">{{array[index]}}</wx-view>
            </wx-picker>
          </wx-view>
        </wx-view>
      </wx-view>

      <wx-view  class="weui-cells__title">时间选择器</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-view  class="weui-cell__hd">
            <wx-view  class="weui-label">当前选择</wx-view>
          </wx-view>
          <wx-view  class="weui-cell__bd">
            <wx-picker  mode="time" :value="time" start="09:01" end="21:01" @bindchange="bindTimeChange">
              <wx-view  class="weui-input">{{time}}</wx-view>
            </wx-picker>
          </wx-view>
        </wx-view>
      </wx-view>

      <wx-view  class="weui-cells__title">日期选择器</wx-view>
      <wx-view  class="weui-cells weui-cells_after-title">
        <wx-view  class="weui-cell weui-cell_input">
          <wx-view  class="weui-cell__hd">
            <wx-view  class="weui-label">当前选择</wx-view>
          </wx-view>
          <wx-view  class="weui-cell__bd">
            <wx-picker  mode="date" :value="date" start="2015-09-01" end="2017-09-01" @bindchange="bindDateChange">
              <wx-view  class="weui-input">{{date}}</wx-view>
            </wx-picker>
          </wx-view>
        </wx-view>
      </wx-view>
    </wx-view>
  </wx-view>

  <template id="onekit_foot"></template>
<script>

    new Vue({
        el: "#onekit_foot",
        data: {},
        template: '#foot'
    })
</script>
</wx-view>

<!--#include virtual="/OnekitWX/footer.html"-->