@import "../../../common/lib/weui.css";

label {
  display: inline-block;
  min-width: calc(var(--screen-width)*270/750);
  margin-right: calc(var(--screen-width)*20/750);
}
form{
  width: 100%;
}
.picker-text {
  margin-left: calc(var(--screen-width)*20/750);
  position: relative;
}