.page-body-info {
  align-items: center;
  padding: calc(var(--screen-width)*200/750) 0;
}

.font-loaded {
  font-family: "Bitstream Vera Serif Bold";
}

.display-area {
  font-size: calc(var(--screen-width)*40/750);
}