movable-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--screen-width)*100/750);
  width: calc(var(--screen-width)*100/750);
  background: #1AAD19;
  color: #fff;  
}

movable-area {
  height: calc(var(--screen-width)*400/750);
  width: calc(var(--screen-width)*400/750);
  background-color: #ccc;
  overflow: hidden;
}

.page-section {
  display: flex;
  justify-content: center;
}

.page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metric {
  width: calc(var(--screen-width)*400/750);
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;
}

.b {
  display: inline-block;
  width: calc(var(--screen-width)*150/750);
  font-weight: bold;
}

.span {
  display: inline-block;
  width: calc(var(--screen-width)*100/750);
}