.page-body-info {
  height: calc(var(--screen-width)*250/750) ;
}
.page-body-text-small {
  font-size: calc(var(--screen-width)*24/750) ;
  color: #000 ;
  margin-bottom: calc(var(--screen-width)*100/750) ;
}
.page-body-text-location {
  display: flex ;
  font-size: calc(var(--screen-width)*50/750) ;
}
.page-body-text-location text {
  margin: calc(var(--screen-width)*10/750) ;
}
