<!--#include virtual="/page/component/pages/cover-view/cover-view.htm"-->
<!--

  <wx-view  class="page-body">
    <wx-view  class="page-section page-section-gap">
      -->
      <wx-map  style="width: 100%; height: 300px;" :latitude="latitude" :longitude="longitude">
        <!--
        <wx-cover-view  class="cover-view">
          <wx-cover-view  class="container">
            <wx-cover-view  class="flex-wrp" style="flex-direction:row;">
              <wx-cover-view  class="flex-item demo-text-1"></wx-cover-view>
              <wx-cover-view  class="flex-item demo-text-2"></wx-cover-view>
              <wx-cover-view  class="flex-item demo-text-3"></wx-cover-view>
            </wx-cover-view>
          </wx-cover-view>
        </wx-cover-view>
        -->
      </wx-map>
<!--
    </wx-view>
  </wx-view>
-->

<!--#include virtual="/OnekitWX/footer.html"-->