.cover-view {
  position: absolute ;
  top: calc(50% -  calc(var(--screen-width)*150/750)) ;
  left: calc(50% -  calc(var(--screen-width)*300/750)) ;
}
.flex-wrp {
  display: flex ;
}
.flex-item {
  width: calc(var(--screen-width)*200/750) ;
  height: calc(var(--screen-width)*300/750) ;
  font-size: calc(var(--screen-width)*26/750) ;
}
.demo-text-1 {
  background: rgba(26, 173, 25, 0.7) ;
}
.demo-text-2 {
  background: rgba(39, 130, 215, 0.7) ;
}
.demo-text-3 {
  background: rgba(255, 255, 255, 0.7) ;
}
